body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #18122B;
    overflow-x: hidden;
    overflow-y: scroll;
}

#gradeContainer {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(20, 41px);
    grid-template-rows: repeat(16, 41px);
    gap: 0px;
    margin-top: 3%;
}

.gradeItem {
    display: flex;
    background-color: #635985;
    border: 2px solid #443C68;
    color: white;
    font-family: 'Montserrat';
    height: 40px;
    width: 40px;
    border-radius: 8px;
    font-size: 1vmax;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.gradeItem.hidden {
    background-color: #292241;
    border: 1px solid #635985;
}

.gradeItem.espaco {
    background-color: rgb(68, 63, 63);
    border: 1px solid black;
}

#gradeContainer input:focus {
    outline: 0;
}

#dicas{
    display: flex;
    width: 100%;
    height: 150vh;
    margin-top: 8%;
    background-color: #635985;
    justify-content: center;
    /* overflow: hidden;
    scroll-behavior: smooth; */
}

#titulo{
    display: flex;
    color: #706594;
    font-family: 'Montserrat';
    width: 100%;
    height: 15%;
    background-color: #292241;
    font-size: 1.5vmax;
    font-weight: 800;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    align-items: center;
}

#botaoPalavra{
    display: flex;
    color: white;
    background-color: #635985;
    width: 10%;
    height: 6%;
    font-size: 1vmax;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    left: 73%;
    cursor: pointer;
}

#botaoPalavra:hover{
    background-color: #7060a7;
}

#tituloP{
    display: flex;
    color: #706594;
    font-family: 'Montserrat';
    width: 100%;
    height: 8%;
    background-color: #292241;
    font-size: 1.5vmax;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}

#conteudoDicas{
    display: flex;
    background-color: #443C68;
    min-width: 70%;
    height: 95%;
    margin-top: 2%;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 2%;
    align-items: center;
}

.dicasTexto{
    color: white;
    font-family: 'Montserrat';
    font-size: 1.15vmax;
    font-weight: 500;
    margin-left: 4%;
    align-items: center;
    line-height: 65px;
}

#botoes{
    display: flex;
    width: 14%;
    height: 5%;
    margin-left: 55%;
    margin-top: 2%;
}

#btnDescer{
    display: flex;
    background-color:#4d436e;
    outline: 0;
    border: 2px solid #706594;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 1vmax;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 4%;
}

#btnDescer:hover{
    background-color: #7060a7;
}


#btn {
    display: flex;
    background-color:#4d436e;
    outline: 0;
    border: 2px solid #706594;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 700;
    font-family: 'Montserrat';
    font-size: 1vmax;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}

#btn:hover{
    background-color: #7060a7;
}

#palavrasDicas{
    display: flex;
    position: absolute;
    background-color: #4d436e;
    min-width: 30%;
    height: 100%;
    margin-top: 2%;
    left: 55%;
    border-radius: 10px;
    flex-direction: column;
    animation-name: animacao;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-direction: alternate;
}

#botaoVoltar{
    display: flex;
    position: absolute;
    top: 0.8%;
    color: #292241;
    left: 92%;
    cursor: pointer;
    font-size: 1.9vmax;
    font-weight: 800;
}

#botaoVoltar:hover{
   color: #443770;
}

#palavrasTitulo{
    display: flex;
    color: #292241;
    font-family: 'Montserrat';
    width: 100%;
    min-height: 10%;
    background-color: #706594;
    font-size: 1.5vmax;
    font-weight: 800;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    align-items: center;
}

.palavrasTexto{
    display: flex;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.3vmax;
    font-weight: 600;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;
    
}

body::-webkit-scrollbar {
    width: 12px;
}

body::-webkit-scrollbar-track {
    background: #7060a7;
}

body::-webkit-scrollbar-thumb {
    background-color: #18122B;
    border-radius: 20px;

}


@keyframes animacao {
    from {
        min-width: 0%;
        height: 0%;
    }

    to {
        min-width: 30%;
        height: 100%;
    }
}

@keyframes tchau {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}