body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-color: #18122B;
}

#gradeContainer {
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(20, 41px);
    grid-template-rows: repeat(16, 41px);
    gap: 0px;
    margin-top: 3%;
}

.gradeItem {
    display: flex;
    background-color: #635985;
    border: 2px solid #443C68;
    color: white;
    font-family: 'Montserrat';
    height: 40px;
    width: 40px;
    border-radius: 8px;
    font-size: 1vmax;
    font-weight: 600;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0;
}

.gradeItem.hidden {
    background-color: #292241;
    border: 1px solid #635985;
}

.gradeItem.espaco {
    background-color: rgb(68, 63, 63);
    border: 1px solid black;
}

#gradeContainer input:focus {
    outline: 0;
}

#dicas{
    display: flex;
    width: 100%;
    height: 150vh;
    margin-top: 8%;
    background-color: #635985;
}

#titulo{
    display: flex;
    color: #706594;
    font-family: 'Montserrat';
    width: 100%;
    height: 15%;
    background-color: #292241;
    font-size: 1.5vmax;
    font-weight: 800;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    align-items: center;
}

#tituloP{
    display: flex;
    color: #706594;
    font-family: 'Montserrat';
    width: 100%;
    height: 8%;
    background-color: #292241;
    font-size: 1.5vmax;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}

#conteudoDicas{
    display: flex;
    background-color: #443C68;
    width: 65%;
    height: 95%;
    margin-top: 2%;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 2%;
    margin-left: 1%;
}

.dicasTexto{
    color: white;
    font-family: 'Montserrat';
    font-size: 1.15vmax;
    font-weight: 500;
    margin-left: 4%;
    align-items: center;
    line-height: 65px;
}

#btn {
    display: flex;
    background-color:#4d436e;
    outline: 0;
    border: 2px solid #706594;
    width: 7%;
    height: 5%;
    color: white;
    font-family: 'Montserrat';
    font-size: 1vmax;
    justify-content: center;
    align-items: center;
    margin-left: 65%;
    margin-top: 2%;
    border-radius: 10px;
    cursor: pointer;
}

#palavrasDicas{
    display: flex;
    background-color: #443C68;
    width: 30%;
    height: 95%;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 10px;
    flex-direction: column;
    margin-bottom: 2%;
}

#palavrasTitulo{
    display: flex;
    color: #706594;
    font-family: 'Montserrat';
    width: 100%;
    height: 20%;
    background-color: #292241;
    font-size: 1.5vmax;
    font-weight: 800;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    justify-content: center;
    align-items: center;
}

.palavrasTexto{
    display: flex;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.3vmax;
    font-weight: 600;
    width: 100%;
    justify-content: center;
    align-items: center;
    line-height: 65px;
}